* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed; /* 헤더를 화면에 고정 */
  top: 0; /* 화면 상단에 위치 */
  left: 0; /* 화면 왼쪽에 위치 */
  width: 100%; /* 화면 너비에 맞게 설정 */
  z-index: 1000; /* 다른 요소 위에 보이도록 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(18, 18, 18, 0.1);
}

html, body {
  height: 100%;
  margin: 0;
}
body {
	 margin-top: 80px; /* 헤더 높이만큼의 여백 추가 */
}

.logo img {
  height: 50px;
  width: auto;
}

.navigation a {
  margin-right: 15px;
  color: #565E6C;
  font-weight: bold;
  text-decoration: none;
}

.actions a {
  margin-left: 10px;
  color: #0C9200;
  font-weight: bold;
  text-decoration: none;
}

main {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px; /* 중앙 정렬을 위한 최대 너비 */
  background-color: #f8f9fa; /* 배경색 추가 */
  border-radius: 8px; /* 부드러운 모서리 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
}

form {
  width: 100%; /* 폼이 최대 너비를 차지하도록 설정 */
}

label {
  display: block; /* 레이블을 블록 요소로 변경 */
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="text"]:readonly,
input[type="text"]:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

textarea {
  height: 150px; /* 텍스트 영역의 기본 높이 설정 */
  resize: vertical; /* 수직 크기 조정 허용 */
}

input[type="submit"],
input[type="button"] {
  width: 48%;
  padding: 12px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #0C9200;
  margin-right: 4%; /* submit 버튼과 cancel 버튼 사이 간격 */
}

input[type="button"] {
  background-color: #6c757d;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #0056b3; /* 버튼에 마우스를 올렸을 때의 색상 */
}

a {
  text-decoration: none;
}

input[type="checkbox"] {
  margin-left: 8px; /* 비밀글 체크박스와 텍스트 사이의 간격 */
}


.footer {
  background-color: rgba(30, 33, 40, 0.68);
  color: white;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: auto; /* 푸터가 페이지의 끝에 위치하도록 설정 */
  position: relative; /* 포지션 속성을 고정하지 않음 */
}

.footer-links a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.company-info p {
  margin-top: 10px;
  font-size: 14px;
}
