<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="friendsgram.a.skw.dao.MemberDao">

	<!-- <insert id="insertMem" parameterType="friendsgram.member.dto.MemberDto">
		insert into member values(#{id},#{password},#{name},#{email},#{birth},#{gender},#{phone},#{consent},0,0,0)
	</insert> -->
	
	<insert id="insertMem" parameterType="friendsgram.member.dto.MemberDto">
    insert into member (id, password, name, email, birth, gender, phone, consent, r_consent, sanction, role)
    values (
        #{id},
        #{password},
        TRIM(#{name}),
        #{email},
        #{birth},
        #{gender},
        #{phone},
        #{consent},
        0,
        0,
        0
    )
</insert>
	
	<update id="updateMem" parameterType="friendsgram.member.dto.MemberDto">
	update member
	set email = #{email}, phone = #{phone}
	where id=#{id} 
	</update>
</mapper>