* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed; /* 헤더를 화면에 고정 */
  top: 0; /* 화면 상단에 위치 */
  left: 0; /* 화면 왼쪽에 위치 */
  width: 100%; /* 화면 너비에 맞게 설정 */
  z-index: 1000; /* 다른 요소 위에 보이도록 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(18, 18, 18, 0.1);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin-top: 10px; /* 헤더 높이만큼의 여백 추가 */
}

.logo img {
  height: 50px;
  width: auto;
}

.navigation a {
  margin-right: 15px;
  color: #565E6C;
  font-weight: bold;
  text-decoration: none;
}

.actions a {
  margin-left: 10px;
  color: #0C9200;
  font-weight: bold;
  text-decoration: none;
}


main {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height is covered */
  margin: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 0; /* 패딩 제거 */
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-top: 60px; /* 헤더 높이만큼의 여백 추가 */
  
}

.search-filters {
  display: flex;
  align-items: center;
  gap: 10px; /* 각 필터 요소 사이의 간격을 10px로 설정 */
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin: 0 5px; /* 각 필터 그룹 간의 간격 */
}

.filter-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-group select,
.filter-group input {
  padding: 5px;
  width: 150px;
  height: 35px; /* select 태그의 높이와 맞추기 */
}

.search-input-button {
  display: flex;
  align-items: center;
  gap: 10px;
   margin-top: 30px; 
}

.search-input-button input {
  padding: 5px;
  width: 300px; /* 가로 길이 조정 */
  height: 35px; /* select 태그의 높이와 맞추기 */
}

.search-button {
  padding: 5px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  height: 35px; /* input 태그와 높이 맞추기 */
}

.write-button-container {
  display: flex;
  justify-content: flex-end; /* 글쓰기 버튼을 오른쪽으로 정렬 */
  padding: 10px 0;
}

.write-button {
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.job-post {
    background-color: #0c9100; /* 연초록색 배경 */
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    color: #333;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.job-header h3 {
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.job-header p {
    font-size: 14px;
    color: white;
}

.job-description p,a {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    color: #16191e;
}

.job-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags .tag {
    background-color: #ffcc00; /* 태그의 배경색 */
    color: #333; /* 텍스트 색상 */
    padding: 5px 10px; /* 내부 여백 */
    border-radius: 5px; /* 모서리 둥글게 */
    font-size: 14px; /* 글씨 크기 */
    font-weight: bold; /* 글씨 두께 */
    display: inline-block; /* 태그를 인라인 블록으로 */
}



.work-type {
    display: flex;
    align-items: center;
}

.work-type-tag {
    color: white;
    border-radius: 4px;
    padding: 3px 8px;
    font-size: 12px;
}

/* 상주인 경우 빨간색, 원격인 경우 파란색 */
.work-type-tag.red {
    background-color: #f87171; /* 빨강 */
}

.work-type-tag.blue {
    background-color: #3b82f6; /* 파랑 */
}




#page {
	text-align: center;
}

.footer {
  background-color: rgba(30, 33, 40, 0.68);
  color: white;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: auto; /* 푸터가 페이지의 끝에 위치하도록 설정 */
  position: relative; /* 포지션 속성을 고정하지 않음 */
}

.footer-links a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.company-info p {
  margin-top: 10px;
  font-size: 14px;
}
